[Desktop Entry]
Name=PGIDE
Exec=/home/jfellus/.pgide/pgide %F
Icon=/usr/share/icons/hicolor/48x48/apps/pgide-48x48.png
Type=Application
Categories=GNOME;GTK;Development;GUIDesigner;
Terminal=false
StartupNotify=true
Comment=Graphical editor for PGCC Scripts (C++, V1)
MimeType=promethe/script;promethe/symb;promethe/net;
