
.tag_0 {	glow:10 red 0.3;	recursive:1;	pretty:1;}
.tag_1 {	glow:10 blue 0.3;	recursive:1;	pretty:0;}
.tag_2 {	glow:10	yellow 0.3;	recursive:1;	pretty:0;}
.tag_3 {	glow:10 green 0.3;	recursive:1;	pretty:0;}
.tag_4 {	glow:10 purple 0.3;	recursive:1;	pretty:0;}
.tag_5 {	glow:10 pink 0.3;	recursive:1;	pretty:0;}
.tag_6 {	glow:10 magenta 0.3;	recursive:1;	pretty:0;}
.tag_7 {	glow:10 cyan 0.3;	recursive:1;	pretty:0;}
.tag_8 {	glow:10 grey 0.3;	recursive:1;	pretty:0;}

module {
	font:Sans Serif;
	font-size:15;
	text-align:bottom;
}

link {
	font-size:12;
	font-style:italic;
	arrow-size:1;
	arrow-size-selected:2.5;
	thickness:0.5;
	font-size-text2:8;
	color:0.0,0.8,0.8;
}

link.secondary { dashed:1; }

group.pretty {
	color: 0.5,0.5,1;
	fill-color: 0.5,0.5,1;
	handle-fill-color: 0.5,0.5,1;
	text-color: white;
	font: "Serif";
	font-size: 30;
	dashed:0;
//	border-radius:10;
	alpha:0.18;
}

group {
	color: 0.5,0.5,0.5;
	border-radius: 1;	
	dashed: 1;
	fill-color: 1.0,1.0,1.0;
	text-color: 0.5,0.5,0.5;
	alpha:0.2;
	font-size:20;
	padding:10;
}

group.highlighted {
	fill-color: #5500ff;
	alpha:0.1;
	text-color: #5500ff;
	font-size:46;
}

group:closed {
	font-size:40;
	text-color: black;
}

group.script {
	font-size:30;
	text-color:white;
	font:Ubuntu;
	dashed:0;
	border-radius:none;
	color: blue;
	handle-fill-color: blue;
}

group:closed.script {
	text-color:blue;
	font:Ubuntu;
	font-size:30;
}

module.isolated {	opacity:1;}
module.nonisolated {	opacity:0.1;}

link.isolated {	opacity:1;}
link.nonisolated {	opacity:0.1;}
module.blur { opacity:0.1; }
link.blur {opacity:0.1;}
